<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nav3.css">
</head>
<body>
   
    <nav class="navbar">
        <div class="brand-title">Brand title</div>
        <!-- <a href="" class="toggle-button">
         <div class="bar"></div>
         <div class="bar"></div>
         <div class="bar"></div>
        

        </a> -->
        <input type="checkbox" class="toggle-menu">
        <div class="navbar-links">
            <div class="hamburger"></div>
            
            
            <ul>
                <li><a href="">h</a></li>
                <li><a href="">h</a></li>
                <li><a href="">lk</a></li>
                <li><a href="">j</a></li>
            </ul>
        </div>

    </nav>

</body>
<script src="script.js" defer></script>
</html>