<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <title>Colors</title>
</head>
<body>
    <div class="palette mainblue"></div>
    <div class="palette smokyblue"></div>
    <div class="palette mainpink"></div>
    <div class="palette samon"></div>
    <div class="palette accent"></div>

</body>
</html>