@import "./variables";
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    /* color: rgb(28, 99, 157); */
    /* position: absolute; */
    z-index: 1;
    position: fixed;
    width: 100vw;

}
.nav-links a {
    color: $color_5;
    text-decoration: none;
}
.logo:hover {
    cursor:pointer;
}
.menu {
    display: flex;
    gap: 1em;
    /* font-size: ; */
    list-style: none;
    text-decoration: none;
    padding-right: 20px;
}
.menu li:hover {
    transition: 0.3s ease;
    background-color: $color_6;
    border-radius: 10px;
}
.menu li {
    padding: 10px 14px;
    text-decoration: none;
    // color: $color_6;
}
.services {
    position: relative;
}
.dropdown {
    position: absolute;
    display: none;
    padding: 1em 0;
    border-radius: 8px;
    top: 35px;
    background-color: $background-color_3;
  
}
.dropdown li {
    width: 8em;
    text-align: center;
    /* padding: .5px;
    padding-right: 25px; */

}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li:hover {
    background-color: $background-color_6;
    display: block;
  
}
.services:hover .dropdown {
    display: block;
    
}
input[type=checkbox] {
    display: none;
}
.hamburger {
    display: none;
    font-size: 25px;
    user-select: none;
    padding-right: 20px;
}
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: $background-color_1;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 30px;
        
    }
    .menu li:hover {
        display: inline-block;
        /* background-color: ; */
        transition: .3s ease-in;
    }
    .menu li + li {
        margin-top: 12px;
       
    }
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    .hamburger {
        display: block;
        color: $background-color_5;
        margin-right: 15px;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);

    }
    .dropdown li:hover {
        background-color: $background-color_5;
    }
    .nav-links a {
        color: $color_6;
    }
    .menu li:hover {
        transition: 0.3s ease;
        background-color: $color_5;
        border-radius: 10px;
    }
}