.palette {
    display: block;
    height: 30px;
    width: 30px;
    // border: black solid 1px;
    padding: 20px;
    margin: 15px;
    &.mainblue {
        background-color: #0004ff;
    }
    &.smokyblue {
        background-color: #2A6C94;
    }
    &.mainpink {
        background-color: #EF7E7F;
    }
    &.samon {
        background-color: #DF4456;
    }
    &.accent {
        background-color: #8F1926;
    }
}

$background-color_1: #0011ff;
$background-color_2: #b20808;
$background-color_3: #00c4fb;
$background-color_4: #00ffae;
$background-color_5: #8F1926;
$background-color_6: white;
$color_1:  #104E85;
$color_2:  #2A6C94;
$color_3:  #EF7E7F;
$color_4:  #DF4456;
$color_5: #8F1926;
$color_6: white;
